<!DOCTYPE html>
<html lang="en">
<head>
    <!-- link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- SELECT DROPDOWN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/showBus.css')}}">
    <title>Track my BUS</title>
</head>
a
<body>

    <section class="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="/main">
                <img style="height: 70px;" src="{{url_for('static' , filename = 'images/logo.png')}}">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/trackmybus"><i class="fa-solid fa-backward fa-sm"></i>Back</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trackmybus"><i class="fa-solid fa-magnifying-glass fa-sm"></i>Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: azure;" ><i class="fa-solid fa-chart-simple"></i>Result for, {{name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket fa-sm"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <!-- ---------- HEAD INFO ---------- -->
    <section class="head-info">
        <p class="head-info-text">Your search result for <b>{{depature_city}}</b> to <b>{{arrival_city}}</b>, from the time of <b>{{start_time}}</b> - <b>{{end_time}}</b> are listed below</p>
    </section>

    
    <!-- ---------- BUSES AVAILABLE ---------- -->
    <section class="buses-Availavble">

        {% for row in data %}

            <div class="container">
                <div class="row">
                    <div class="col-1"></div>

                    <div class="bus-container col-10">

                        <div class="row">
                            <!-- bus details -->
                            <div class="bus-detail col-3">
                                <p  class="provider">
                                    <i class="fa-solid fa-bus"></i>
                                    <b style="padding-left: 5px;">{{row[0]}}</b>
                                </p>
                                <p class="coach">
                                    <b style="color: gray;">Coach : </b>
                                    {{row[1]}}
                                </p>
                            </div>
                            <!-- bus place -->
                            <div class="bus-place col-3">
                                <p class="city">
                                    {{depature_city}}
                                    <i class="fa-solid fa-arrow-right"></i> 
                                    {{arrival_city}}
                                </p>
                            </div>
                            <!-- bus timing -->
                            <div class="bus-timing col-4">
                                <p class="timing">{{row[2]}}
                                    <span>
                                        <i class="fa-solid fa-circle-dot"></i>
                                        <i class="fa-solid fa-minus"></i>
                                        <i class="fa-solid fa-minus"></i>
                                        <i class="fa-solid fa-minus"></i>
                                        <i class="fa-solid fa-circle-dot"></i>
                                    </span>
                                    {{row[3]}}
                                </p>
                                <p class="duration">
                                    <i class="fa-solid fa-clock"></i>
                                    {{row[4]}} hrs
                                </p>
                            </div>
                            <!-- stops & View map -->
                            <div class="map col-2" >
                                <p class="stops">
                                    <i class="fa-solid fa-route"></i>
                                    {{row[5]}}
                                </p>
                                <p><a class="btn-map" href="/map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Track</a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-1"></div>
                </div>
            </div>

        {% endfor %}

    </section>

</body>
</html>